@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {
	padding: 0;
	margin: 0;
}

label {
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	padding-top: 50px;
	text-align: center;
}

.login-header {
	font-weight: 400;
	margin-bottom: 10px;
}

.login-msg {
	font-weight: 300;
}

.form-section {
	margin: 20px 0;
}

input[type="text"], input[type="password"] {
	border: none;
	border-bottom: 1px solid #36D7B7;
	font-size: 1.5em;
	text-align: center;
	outline: none;
	font-weight: 300;
	padding: 10px;

}

.remember-me {
	margin-right: 5px;
	background-color: #36D7B7;
}

.forgot-pass {
	color: #36D7B7;
	text-decoration: none;
	font-weight: 600;

}

.login-btn {
	width: 200px;
	padding: 10px;
	border: none;
	background-color: #36D7B7 ;
	color: #fff;
	font-size: 1.2em;
	font-weight: 300;
	border-radius: 20px;
	outline: none;
}